    .main-advanced-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100rem;
    }

    .search-filters-container {
        margin-bottom: 0.22rem;
        display: flex;
        width: 83.5rem;
        justify-content: space-between;
        align-items: center;
    }

    .advanced-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .filter-container {
        width: 19.3rem;
        margin-right: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .select-container {
        width: 11rem;
        border-radius: 1rem;
        padding: 0.4rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        .option-select {
            width: 6rem;
            padding: 0.5rem;
            border: none;
            border-radius: 1rem;
            cursor: pointer;
            box-shadow: none;
            color: white;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .group {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .clear {
            cursor: pointer;
            display: flex;
            justify-content: center;
            width: 5.5rem;
            color: white;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 1rem;
            padding: 0.79rem;
            transition: 0.3s
        }

        .clear:hover {
            background-color: rgba(0, 0, 0, 1);
          }

        .no-results {
            margin-top: 4rem;
            color: white;
          }
      
    
    