* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-image: url("https://www.xtrafondos.com/descargar.php?id=6354&resolucion=3840x2160");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}