* {
  font-family: 'Rubik', sans-serif;
}

body {
  background-image: url("https://www.xtrafondos.com/descargar.php?id=6354&resolucion=3840x2160");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedor-item {
  color: white;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 13rem;
}

.item {
  border-radius: 0.5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.return-characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100rem;
}

.container-buttons {
  display: flex;
}

.container-navbar {
  background-color: rgba(0, 0, 0, 0.6);
  height: 4.7rem;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  width: 36rem;
}

.navbar-link {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  width: 9rem;
  transition: .3s;
}

.navbar-link:hover {
  color: white
}

.search {
  width: 14.9rem;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
}

.search:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.prev-next {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 6rem;
    border-style: hidden;
    border-radius: 1.2rem;
    color:white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}

.back-button {
  padding: 0.6rem;
  font-size: 1.3rem;
  width: 4rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-style: hidden;
  border-radius: 1.2rem;
  color:white;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.prev-next:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.container-search {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 82.8rem;
}

.info {
  margin-top: 0.5rem;
  width: 13rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.name {
  width: 13rem;
  margin-bottom: 1.2rem;
}

.container-card {
  margin-top: 9rem;
  width: 44.9rem;
  height: 24rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  color: white;
  width: 40rem;
  display: flex;
  justify-content: space-between;
}

.green {
  font-size: 2rem;
  color: greenyellow;
  margin-right: 0.2rem;
}

.red {
  font-size: 2rem;
  color: red;
  margin-right: 0.2rem;
}

.status {
  display: flex;
  align-items: center;
}

span {
  font-weight: 700;
}

.character-detail {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.datos {
  width: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.none {
  text-decoration: none;
}

.random-return {
  display: flex;
  justify-content: center;
}

.container-random {
  width: 44.9rem;
  height: 24rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-button {
  margin-top: 1rem;
  padding: 1rem;
  font-weight: 700;
  font-size: 1rem;
  width: 17rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-style: hidden;
  border-radius: 1.2rem;
  color:white;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-button:hover {
  background-color: white;
  color: black;
}

.vh {
  height: 100vh;
}

.generate-detail {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

